@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color: #996b42;
  overflow: hidden;
  color: #f0ebd7;
  padding: 2rem;
}

body,
.container,
.container-controls,
.controls,
.control,
.container-time,
.time,
.btns,
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  height: auto;
  width: 35rem;
  gap: 3rem;
  padding: 1.5rem;
}

.title {
  font-size: 2.6rem;
}

.container-controls {
  width: 100%;
  justify-content: space-around;
}

.controls {
  flex-direction: column;
  gap: 0.2rem;
}

.controls h3 {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}
.control {
  gap: 0.5rem;
  padding: 0.2rem;
}

.control span {
  font-size: 1.8rem;
}

button {
  font-size: 2.25rem;
  background-color: transparent;
  border: none;
  padding: 0.2rem;
  color: #341100;
  cursor: pointer;
}

.container-time {
  flex-direction: column;
  gap: 1rem;
}

.time {
  flex-direction: column;
  border: 6px solid#341100;
  padding: 1rem 3rem;
  border-radius: 1rem;
  gap: 1rem;
}

#timer-label {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

#time-left {
  font-size: 4.5rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
}

.btns {
  gap: 3em;
}

.author {
  color: #f0ebd7;
  font-size: 1rem;
}
